.nameAndDescriptionHolder {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted white 1px;
}

.songName {
  max-width: 50%;
  padding: 10px;
}

.songName:hover {
  background-color: var(--greyish);
  cursor: pointer;
}

.songDelete {
  max-width: 40%;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.songDelete:hover {
  background-color: var(--warningRed);
  cursor: pointer;
}
