.fullRoom {
  margin: auto;
  margin-top: 30px;
  background-color: var(--niceGreen);
  padding: 20px;
  text-align: center;
  width: fit-content;
  border-radius: 3px 3px 3px 3px;
}

.emptyRoom {
  margin: auto;
  margin-top: 30px;
  background-color: var(--warningRed);
  padding: 20px;
  text-align: center;
  width: fit-content;
  border-radius: 3px 3px 3px 3px;
}
