.wrapMe {
  width: 1050px;
  margin: auto;
  margin-top: 0px;
}

.newNav {
  width: 100%;
  background-color: var(--lightBlack);
  padding: 25px 0px;
}

.newNavContent {
  width: 1050px;
  margin: auto;
}
