.recordingHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.polarJamImgDivider {
  width: 60px;
  height: auto;
  margin: auto;
}

.track {
  background-color: #222433;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.musician {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.otherName {
  text-align: center;
  border: solid 2px white;
  padding: 15px;
  margin-right: 25px;
  margin-left: auto;
  border-radius: 10px;
  background: salmon;
}

.latencySection {
  justify-content: center;
  display: flex;
  margin-bottom: 500px;
  align-self: flex-start;
}

.latencySection > div {
  margin: 10px 20px;
}

.otherPlayer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  margin: auto;
  background-color: var(--greyish);
  padding: 20px;
  min-width: 215px;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 8px 0;
  transition: 300ms ease;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  padding: 20px;
}

.you {
  font-size: 1.2rem;
  padding: 15px 20px 15px 20px;
  border-radius: 4px 4px 4px 4px;
  border: dotted 1px white;
  color: white;
  min-width: 70px;
  text-align: center;
  margin-right: 20px;
}

.notConnectedToServer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectingToServer {
  margin-left: 20px;
  padding: 5px 20px 5px 20px;
  color: white;
  min-width: 70px;
  text-align: center;
  margin-right: 20px;
}

.musicianName {
  text-align: center;
  border: solid 2px white;
  padding: 10px;
  border-radius: 10px;
  background: var(--lightBlack);
  min-width: 70px;
  margin-right: 20px;
}

.musicianInstrument {
  text-align: center;
  border: solid 2px white;
  padding: 15px;
  border-radius: 10px;
  background: var(--sectionBody);
  min-width: 150px;
  margin-right: 20px;
}

.invisibleSelectbox {
  height: 50px;
  width: 240px;
  margin-right: 10px;
}

hr.divider {
  margin-right: 10px;
  transform: rotate(90deg);
  border: none;
  width: 50px;
  border-top: 1px dashed white;
}

.myLatency {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  background-color: var(--lightGrey);
  padding: 17px;
  width: 200px;
  border-radius: 0px 4px 0px 4px;
  justify-content: space-around;
  align-items: center;
  transition: 300ms ease;
  margin-right: 25px;
}

.delay {
  padding: 17px;
  margin-left: 20px;
}
